{% extends 'home/map_temp.html' %}


{% block body%}


    <div class="row">
	<h4 style="color: transparent;">...</h4></div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-color: #262626; height:405px;">
	<h2 style="color: #c2c0c0;"><br><br>Currently parked at: <br> <br>{{map.place}} <br> <br> Follow the map to get addicted</h2>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 2px solid; border-color: #e3e3e3; background-color: #e3e3e3;">
    <div id="map"></div></div>
    </div>
    <script>
      function initMap() {
        var uluru = {lat: {{map.latitude}},  lng: {{map.longitude}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuNFm5N332eZIA8aPYRESf8q5PvTWICM4&callback=myMap&callback=initMap"></script>
{% endblock %}