{% extends 'home/sahil_temp.html' %}
{% block body%}

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
<a href="https://in.linkedin.com/in/sahilkalra1993">
<img src="/media/sahil.jpg" class="img-circle" alt="Sahil Kalra" width="300" height="350"></a>
<br><br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h3 style="text-align: center; color:#c2c0c0">SAHIL KALRA</h3></div>
<div class="col-lg-5 col-md-5"></div>
<ul class="col-lg-4 col-md-4">
            <br>
              <li>
		<a href="https://www.facebook.com/sahil.kalra.5055">
		
			<span>
			<i class="fa fa-facebook-square" style="font-size:24px;color:#c2c0c0"></i></span>
		</a>
		</li>
		
		<br>
		<li>
		<a href="https://twitter.com/sahilkalra1993">
		
			<span><i class='fa fa-twitter-square' style="font-size:24px;color:#c2c0c0""></i></span>
			
		</a>
		</li>
		<br>
		<li>
		<a href="https://in.linkedin.com/in/sahilkalra1993">
		
			<span><i class='fa fa-linkedin-square' style="font-size:24px;color:#c2c0c0""></i></span>
			
		</a>
		</li>
		
		
</ul>
</div>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">

<img src="/media/sahil_about.jpg" class="img-rounded" alt="Sahil Kalra" width="950" height="550"></a>

</div>
{% endblock %}